<div class="container">
<div class="row">

<!-- Izquierda, faltan imágenes -->
<div class="col s12 m6 l6">
	<h4>Contáctanos</h4>
	<img class="responsive-img" style="border-radius: 5px;" src="img/otras/contacto.jpg" alt="">
	<p><strong>No te quedes con la duda</strong>, mándanos un mesaje para lo que sea que necesites.</p>
	<br>
	<p>Incluso si quieres saber en que estamos trabjando, 
		<span class="blue-text text-darken-2">Contáctanos!</span>
	</p>
</div>

<!-- Derecha -->
<div class="col s12 m6 l6 right-align">
	<h3 class="left-align">Tu mensaje</h3>
	<br>
	<!-- Form para mandar la información -->
	<form name="form_mensaje" method="POST" action="../php/mandaCorreo.php">
		<div class="input-field">
			<i class="material-icons prefix">account_circle</i>	
			<input type="text" id="nombre" name="nombre" class="validate">
			<label for="nombre">Nombre: </label>
		</div>
		<div class="input-field">
			<i class="material-icons prefix">email</i>	
			<input type="email" id="email" name="email" class="validate">
			<label for="email">Correo-e: </label>
		</div>
		<div class="input-field">
			<i class="material-icons prefix">mode_edit</i>
			<textarea class="materialize-textarea" id="mensaje" name="mensaje"></textarea>
			<label for="mensaje">Mensaje: </label>
		</div>
		<button class="btn waves-effect  blue darken-2" type="submit">
			Enviar mensaje
		    <i class="material-icons right">send</i>
		</button>
	</form>
</div>


</div>
</div>
<br>