<!-- Slider -->    
<div class="slider">
  <ul class="slides">
    <li>
      <img src="img/slider/8.jpg"> <!-- random image -->
      <div class="caption left-align">
        <h3>Aplicaciones web</h3>
        <h5 class="light grey-text text-lighten-3">Tus aplicaciones centralizadas y accesibles</h5>
      </div>
    </li>
    <li>
      <img src="img/slider/6.jpg"> <!-- random image -->
      <div class="caption center-align">
        <h3>Bajo costo en mantenimiento</h3>
        <h5 class="light grey-text text-lighten-3">Aplicaciones con lenguajes de última generación</h5>
      </div>
    </li>
    <li>
      <img src="img/slider/7.jpg"> <!-- random image -->
      <div class="caption right-align">
        <h3>Estabilidad y velocidad</h3>
        <h5 class="light grey-text text-lighten-3">Desarrollo con frameworks veloces y testeados</h5>
      </div>
    </li>
    <li>
      <img src="img/slider/3.jpg"> <!-- random image -->
      <div class="caption left-align">
        <h3>Empresa joven</h3>
        <h5 class="light grey-text text-lighten-3">No importa lo pequeño que sea tu proyecto, nos adecuamos a tus necesidades y presupuesto</h5>
      </div>
    </li>
     <li>
      <img src="img/slider/6.png"> <!-- random image -->
      <div class="caption center-align">
        <h3>Aplicaciones a la medida</h3>
        <h5 class="light grey-text text-lighten-3">Aplicaciones inteligentes y funcionales que se adecuan a sus necesidades</h5>
      </div>
    </li>
  </ul>
</div>

<br>
<br>

<!-- Logo -->
<br>
<div class="container center">
  <img class="img-responsive" src="img/logo/LogoPCorpj_completo.png" width="250" alt="">
</div>
<br>
<br>

<!-- presentacion -->
<div class="container">
  <div class="row center  ">
    <div class="col s12 m6 l6">
      <h4>Desarrollo back-end</h4>
      Somos un grupo de personas que nos enfocamos al desarrollo de sitios y aplicaciones web, 
      implementando las últimas tecnologías como frameworks, librerías y distintos lenguajes de programación 
      como .net, java, php, lo que ahorra en costos de mantenimiento y tiempo de desarrollo.
    </div>
    <div class="col s12 m6 l6">
    <h4>Diseño UI</h4>
    Diseñamos sitios y aplicaciones responsivas las cuales se adaptan a la resolución de la mayoría de 
    dispositivos que se encuentran en el mercado.
    </div>
  </div>
</div>

<!-- Equipo de trabajo -->
<div class="container contenedorEquipo center">
  <h5 class="tituloEquipo">Equipo de trabajo</h5>
  <div class="row">
    <div class="col s12 m4 l4">
      <a class="modal-trigger" href="#modal1">
          <img class="activator circle imgEquipo" src="img/equipo/cesar.jpg">
          <h5 class="nombreEquipo">César Esparza</h5>
      </a>
    </div>
    <div class="col s12 m4 l4 center">
      <a class="modal-trigger" href="#modal2">
          <img class="activator circle imgEquipo" src="img/equipo/manuel.jpg">
          <h5 class="nombreEquipo">Manuel Villalobos</h5>
      </a>
    </div>
    <div class="col s12 m4 l4 center">
      <a class="modal-trigger" href="#modal3">
          <img class="activator circle imgEquipo" src="img/equipo/jorge1.jpg">
          <h5 class="nombreEquipo">Jorge Montañez</h5>
      </a>
    </div>
  </div>
</div>

<!-- modales -->
<div class="container">
  <div class="row center">
    <!-- Cesar -->
    <div id="modal1" class="modal">
        <div class="container">
              <h4 class="nombreEquipo">César Esparza</h4>
              <span class="nombreEquipo">Ingeniero en sistemas</span>
              <br>
              <span>Universidad Autónoma de Aguascalientes</span>
        </div>
        <hr class="lineaModal">
        <div class="">
          <div class="col m6 align-center">
            <ul>
              <li>Java</li>
              <li>.Net C#, VB</li>
              <li>PHP</li>
              <li>HTML</li>
              <li>jQuery</li>
              <li>CSS3</li>
              <li>AngularJS</li>
              <li>Bootstrap</li>
              <li>Materialize</li>
              <li>SQL, MySql</li>
            </ul>
          </div>
          <div class="col m6" style="display: inline-table;">
            <img class="responsive-img imgModal" src="img/equipo/cesar.jpg">
          </div>
        </div>      
    </div>
    <!-- Manuel -->
    <div id="modal2" class="modal">
        <div class="container">
              <h4 class="nombreEquipo">Manuel Villalobos</h4>
              <span class="nombreEquipo">Ingeniero en sistemas</span>
              <br>
              <span>Universidad Autónoma de Aguascalientes</span>
        </div>
        <hr class="lineaModal">
        <div class="">
          <div class="col m6 align-center">
             <ul>
              <li>Java web, Java Android</li>
              <li>.Net C#, VB, F#</li>
              <li>PHP</li>
              <li>HTML</li>
              <li>CSS3</li>
              <li>AngularJS, Angular 2</li>
              <li>Bootstrap</li>
              <li>Materialize</li>
              <li>Oracle, SQL, MySql</li>
            </ul>
          </div>
          <div class="col m6" style="display: inline-table;">
            <img class="responsive-img imgModal" src="img/equipo/manuel.jpg">
          </div>
        </div>      
    </div>
    <!-- Yorch -->
    <div id="modal3" class="modal">
        <div class="container">
              <h4 class="nombreEquipo">Jorge Montañez</h4>
              <span class="nombreEquipo">Ingeniero en sistemas</span>
              <br>
              <span>Universidad Autónoma de Aguascalientes</span>
        </div>
        <hr class="lineaModal">
        <div class="">
          <div class="col m6 align-center">
             <ul>
              <li>Java web, Java Android</li>
              <li>Java Hibernate</li>
              <li>Java FX, Java EE</li>
              <li>PHP</li>
              <li>HTML</li>
              <li>CSS3</li>
              <li>AngularJS</li>
              <li>Bootstrap</li>
              <li>Materialize</li>
              <li>Oracle, SQL, MySql</li>
            </ul>
          </div>
          <div class="col m6" style="display: inline-table;">
            <img class="responsive-img imgModal" src="img/equipo/jorge1.jpg">
          </div>
        </div>      
    </div>

  </div>
</div>


<div class="marcas">
    <div class="row grises valign-wrapper">
        <div class="col s4 m2 l2">
          <img class="responsive-img" src="img/tecnologias/AngularJS.png" alt="">
        </div>
        <div class="col s4 m2 l2">
          <img class="responsive-img" src="img/tecnologias/php-logo.png" alt="">
        </div>
        <div class="col s4 m2 l2">
          <img class="responsive-img" src="img/tecnologias/mysql_logo.png" alt="">
        </div>
        <div class="col s4 m2 l2">
          <img class="responsive-img" src="img/tecnologias/jquery_logo.png" alt="">
        </div>
        <div class="col s4 m2 l2">
          <img class="responsive-img" src="img/tecnologias/bootstrap_logo.png" alt="">
        </div>
        <div class="col s4 m2 l2">
          <img class="responsive-img" src="img/tecnologias/materialize_logo.png" alt="">
        </div>
    </div>
</div>
    
    

<script>
  $(document).ready(function(){
    $('.slider').slider({full_width: true});
  });
  var options = [
    {selector: '.circle', offset: 100, callback: 'Materialize.fadeInImage(".circle")'},
    ];
    Materialize.scrollFire(options);

    $(document).ready(function(){
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
    $('.modal-trigger').leanModal();
  });
</script>