<!-- Slider -->    
<div class="slider">
  <ul class="slides">
    <li>
      <img src="img/slider/8.jpg"> <!-- random image -->
      <div class="caption left-align">
        <h3>Aplicaciones web</h3>
        <h5 class="light grey-text text-lighten-3">Tus aplicaciones centralizadas y accesibles</h5>
      </div>
    </li>
    <li>
      <img src="img/slider/6.jpg"> <!-- random image -->
      <div class="caption center-align">
        <h3>Bajo costo en mantenimiento</h3>
        <h5 class="light grey-text text-lighten-3">Aplicaciones con lenguajes de última generación</h5>
      </div>
    </li>
    <li>
      <img src="img/slider/7.jpg"> <!-- random image -->
      <div class="caption right-align">
        <h3>Estabilidad y velocidad</h3>
        <h5 class="light grey-text text-lighten-3">Desarrollo con frameworks veloces y testeados</h5>
      </div>
    </li>
    <li>
      <img src="img/slider/3.jpg"> <!-- random image -->
      <div class="caption left-align">
        <h3>Empresa joven</h3>
        <h5 class="light grey-text text-lighten-3">No importa lo pequeño que sea tu proyecto, nos adecuamos a tus necesidades y presupuesto</h5>
      </div>
    </li>
     <li>
      <img src="img/slider/6.png"> <!-- random image -->
      <div class="caption center-align">
        <h3>Aplicaciones a la medida</h3>
        <h5 class="light grey-text text-lighten-3">Aplicaciones inteligentes y funcionales que se adecuan a sus necesidades</h5>
      </div>
    </li>
  </ul>
</div>

<!-- Separador -->
<div class="card-panel center-align">
  <span class="text-darken-2">Presentación PCorp</span>
</div>

<!-- Logo -->
<br>
<div class="container center">
  <img class="img-responsive" src="img/logo/LogoPCorpj_completo.png" width="250" alt="">
</div>
<br>
<br>

<!-- presentacion -->
<div class="container">
  <div class="row center  ">
  <div class="col s12 m6 l6">
    <h4>Desarrollo back-end</h4>
    Somos un grupo de personas que nos enfocamos al desarrollo de sitios y aplicaciones web, implementando las últimas tecnologías como frameworks, librerías y distintos lenguajes de programación como .net, java, php, lo que ahorra en costos de mantenimiento y tiempo de desarrollo.
    <div class="row valign-wrapper">
      <div class="col s12 m4 l4">
        <img class="responsive-img" src="img/tecnologias/AngularJS.png" alt="">
      </div>
      <div class="col s12 m4 l4">
        <img class="responsive-img" src="img/tecnologias/php-logo.png" alt="">
      </div>
      <div class="col s12 m4 l4">
        <img class="responsive-img" src="img/tecnologias/mysql_logo.png" alt="">
      </div>
    </div>
  </div>
 <div class="col s12 m6 l6">
  <h4>Diseño UI</h4>
   Diseñamos sitios y aplicaciones responsivas las cuales se adaptan a la resolución de la mayoría de dispositivos que se encuentran en el mercado.
   <br><br><br>
    <div class="row valign-wrapper">
      <div class="col s12 m4 l4">
        <img class="responsive-img" src="img/tecnologias/jquery_logo.png" alt="">
      </div>
      <div class="col s12 m4 l4">
        <img class="responsive-img" src="img/tecnologias/bootstrap_logo.png" alt="">
      </div>
      <div class="col s12 m4 l4">
        <img class="responsive-img" src="img/tecnologias/materialize_logo.png" alt="">
      </div>
    </div>
  </div>
  </div>
</div>

<!-- Separación -->          
<div class="card-panel center-align">
  <span class="text-darken-2">Equípo de trabajo</span>
</div>
<br>

<!-- Equipo de trabajo -->
<div class="container">
  <div class="row center-align">
    <div class="col s12 m4 l4">
      <div class="card">
        <div class="waves-effect waves-block waves-light">
          <img class="activator circle" style="opacity: 0;" width="175" src="img/equipo/cesar.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">
            César Esparza<i class="material-icons right">more_vert</i>
          </span>
          <p>Ingeniero en sistemas</p>
          <p>Uaa</p>
          <br>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Curriculo<i class="material-icons right">close</i>
          </span>
          <h5>Genezy</h5>
          <p>Lenguajes de desarrollo web</p>
          <ul>
            <li>Java</li>
            <li>.Net C#</li>
            <li>PHP</li>
            <li>HTML</li>
            <li>CSS3</li>
            <li>AngularJS</li>
            <li>Bootstrap</li>
            <li>Materialize</li>
            <li>SQL, MySql</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col s12 m4 l4">
     <div class="card">
      <div class="waves-effect waves-block waves-light">
        <img class="activator circle" style="opacity: 0;" width="175" src="img/equipo/manuel.jpg">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">
          Manuel Villalobos<i class="material-icons right">more_vert</i>
        </span>
        <p>Ingeniero en sistemas</p>
        <p>Uaa</p>
        <br>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Curriculo<i class="material-icons right">close</i>
        </span>
        <h5>MexQ</h5>
         <p>Lenguajes de desarrollo web</p>
          <ul>
            <li>Java web, Java Android</li>
            <li>.Net C#, VB, F#</li>
            <li>PHP</li>
            <li>HTML</li>
            <li>CSS3</li>
            <li>AngularJS</li>
            <li>Bootstrap</li>
            <li>Materialize</li>
            <li>Oracle, SQL, MySql</li>
            <br>
            <li><strong>Y muchos, muchos más</strong></li>
          </ul>
      </div>
    </div>
    </div>
    <div class="col s12 m4 l4">
      <div class="card">
        <div class=" waves-effect waves-block waves-light">
          <img class="activator circle" style="opacity: 0;" width="175" src="img/equipo/jorge1.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">
            Jorge Montañez<i class="material-icons right">more_vert</i>
          </span>
          <p>Ingeniero en sistemas</p>
          <p>Uaa</p>
          <br>
        </div>
        <div class="card-reveal center-align">
          <span class="card-title grey-text text-darken-4">Curriculo<i class="material-icons right">close</i>
          </span>
          <h5>INEGI</h5>
          <p>Lenguajes de desarrollo web</p>
          <ul>
            <li>Java web, Java Android</li>
            <li>Java Hibernate</li>
            <li>Java FX, Java EE</li>
            <li>PHP</li>
            <li>HTML</li>
            <li>CSS3</li>
            <li>AngularJS</li>
            <li>Bootstrap</li>
            <li>Materialize</li>
            <li>Oracle, SQL, MySql</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<br>        

<script>
  $(document).ready(function(){
    $('.slider').slider({full_width: true});
  });
  var options = [
    {selector: '.circle', offset: 100, callback: 'Materialize.fadeInImage(".circle")'},
    ];
    Materialize.scrollFire(options);
</script>