<div class="card-panel center-align">
    <h5>Proyectos desarrollados y en curso</h5>
</div>

<div class="container">

<div id="proyecto_01">
	<h4>Mantenimiento de sistema de Administrador de horarios</h4>
	<p>Es un sistema de J.M. Romo, el sistema está desarrolado en VB6, un lenguaje legacy, al cal se le da 
		mantenimieto para arreglar bugs, agregar funcionalidades, modulos, procesos entreo otras actualizaciones.</p>
	<p>Administra las entradas y salidas de personal, el registro es para poder tener 
		control de sus entradas y salidas, calculo de horas extras, retardos, faltas, permisos, etc.</p>
	<a href="www.jmromo.mx"><img src="img/otras/jmromo.png" alt="logo_jmromo"></a>
</div>
<div id="proyecto_02">
	<h4>Página web del CETis 155</h4>
	<p>Desarrollo y publicación de página web del plantel CETis 155</p>
	<p>Desarrollo MVC para control de pagina web mediante un panel de control</p>
	<a href="www.cetis155.edu.mx"><img src="img/otras/cetis155.jpg" alt="logo_cetis155"></a>
</div>
<div id="proyecto_03">
	<h4>Desarrollo y publicación de página web Click Computadoras</h4>
	<p>Diseño, desarrollo y publicación de página web de click computadoras y servicios</p>
	<p>Empresa dedicada al mantenimiento de equipo de computo, montado de redes alambricas e inalámbricas.</p>
	<a href="www.clikcs.com.mx"><img src="img/otras/click.jpg" alt="logo_click"></a>	
</div>
<br>
<div id="proyecto_04">
	<h4>Desarrollo de placaciones Java Web INEGI</h4>
	<p>Desarrollo de plaicaciones web de reporteo.</p>
</div>

</div>