
<div class="card-panel center-align">
    <h4>Desarrollo de aplicaciones web, android, desktop</h4>
</div>

<div class="container">
<div class="row">
  <div class="center-align">    
    <div class="col s12 m6">      
    <img class="responsive-img" src="img/tecnologias/android.gif" style="max-width:300px;" alt="">
    </div>    
    <div class="col s12 m6">      
    <p>Desarrollos con las últimas tecnologías disponibles, contruidas con frameworks opensourse, lo que significa que se desarrolla con mayor velocidad y a un costo más bajo.</p>
    <p>Éstos desarrollos pueden ser con herramientas opensourse como con herramientas de costo cómo, .Net los cuales, tienen funcionalidades más específicas para sus necesidades.</p>
    </div>
  </div>
</div>
</div>

<div class="card-panel center-align">
  	<h4>Desarrollo de páginas web</h4>
</div>

<div class="container center-align">

  <div class="col s12 m12">    
  <div class="row">    
    <h5>Desarrollamos páginas web a la medida, atractivas para el consumidor, al gusto del cliente.</h5>
    <div class="center-align">
        <img class=" format-img" src="img/tecnologias/centos.png" alt="">
        <img class=" format-img" src="img/tecnologias/apache2.jpg" alt="">
        <img class=" format-img" src="img/tecnologias/php-logo.png" alt="">
        <img class=" format-img" src="img/tecnologias/logo_whm.jpg" alt="">
    </div>
  </div>
  </div>
<br>


<div class="col s12 m12">
<div class="row">
  <h5>Instalación de CMS para desarrollo de páginas web y blogs.</h5>
    <div class="center-align">
      <img class=" format-img" src="img/tecnologias/wordpress.png" alt="">
      <img class="format-img" src="img/tecnologias/drupal.png" alt="">
      <img class="format-img" src="img/tecnologias/moodle.png" alt="">
      <img class="format-img" src="img/tecnologias/joomla.jpg" alt="">
      <img class="format-img" src="img/tecnologias/mysql_logo.png" alt="">
      <img class="format-img" src="img/tecnologias/pcorp_letras.png" alt="">
    </div>
</div>
</div>

</div>


<br>
<div class="card-panel center-align">
    <h4>Planes de hospedaje web</h4>
</div>
<div class="container">
<div class="row">
<div class="col l4 m4 s12">
  <div class="card hoverable">
    <div class="card-image">
      <img src="img/logo/plan_basico_2.png">
    </div>
    <div class="card-content">
    <p>Este plan, es recomendado para páginas web que no requieren de aplicaciones web.</p>
     <ul>
      <strong>
        <li>1000 MG DD</li>
        <li>Correos ilimitados</li>
        <li>Transferencia ilimitada</li>
        <li>5 Base de datos</li>
        <li>1 Semana de soporte</li>
        <li></li>
      </strong>
      </ul>
      <h5 class="right">$399.00 MN</h5>
    </div>   
  </div>
</div>
<div class="col l4 m4 s12">
  <div class="card hoverable">
    <div class="card-image">
      <img src="img/logo/plan_app_2.png">
    </div>
    <div class="card-content">
    <p>Este plan, es recomendado para páginas que utilícen una aplicacion web basica, 
      desarrollada propiamente o con instalacion del asistente (instalatron).</p>
     <ul>
        <strong>
        <li>3000 MG DD</li>
        <li>Correos ilimitados</li>
        <li>Transferencia ilimitada</li>
        <li>Base de datos ilimitadas</li>
        <li>2 Semana de soporte</li>
        <li></li>
        </strong>
      </ul>
      <h5 class="right">$499.00 MN</h5>
    </div>
  </div>
</div>
<div class="col l4 m4 s12">
  <div class="card hoverable">
    <div class="card-image">
      <img src="img/logo/plan_desarrollo_2.png">
    </div>
    <div class="card-content">
      <p>Este plan, es recomendado para páginas que utilícen una aplicaciones web, más 
        completas como tienedas en línea, centros de soporte, o aplicaciones desarrolladas
        que utilícen más espacio por los datos que se almacenarán. </p>
     <ul>
        <strong>
        <li>5000 MG DD</li>
        <li>Correos ilimitados</li>
        <li>Transferencia ilimitada</li>
        <li>Base de datos ilimitadas</li>
        <li>4 Semana de soporte</li>
        <li></li>
        </strong>
      </ul>
      <h5 class="right">$799.00 MN</h5>
    </div>
  </div>
</div>
</div>

<div class="row" >
  <blockquote style="border-left: 5px solid #1976d2; font-size:14px;">
    <strong>Nota importante: </strong>Son planes anuales, y el soporte consta únicamente sobre el servidor y no sobre las aplicaciones o páginas web a desarrollar.
  </blockquote>
</div>

</div>


<script>
  $(document).ready(function(){
    var estilo_img = {
      width: "125",
      padding: "25",
    };
    $(".format-img").css( estilo_img );
  });
</script>